@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=ABeeZee&display=swap');

/* RESET ------------------------------------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* HEADER ------------------------------------------- */

header {
    padding: 34px 0 52px;
    color: #e0576e;
}

header > h1 {
    font-size: 37px;
}

header > h1, .cards > h3 {
    font-family: 'Fredoka One', cursive;
}

/* MAIN -------------------------------------------- */

main {
    width: 1135px;
    margin: auto;
}

main p:first-child, header {
    text-align: center;
    font-weight: 600;
}

main p:first-child {
    letter-spacing: 1px;
}

/* CONTAINER -------------------------------------- */

.container {
    margin-top: 53px;
}

.container::after, .cards::after {
    content: '';
    display: table;
    clear: both;
}

/* CARDS ------------------------------------------ */

:root {
    --background_color:#d6d6d6;
    --sfocatura_ombre:6px;
}

.cards {
    float: left;
    background-color: #000412;
    color: #fff;

    width: calc(calc(100% - 30px * 2) / 3);
    height: 100px;
    margin-bottom: 50px;
    margin-right: 30px;
    
    /* OMBRE */
    box-shadow: 2px 2px var(--sfocatura_ombre) var(--background_color), -2px 2px var(--sfocatura_ombre) var(--background_color), 2px -2px var(--sfocatura_ombre) var(--background_color), -2px -2px var(--sfocatura_ombre) var(--background_color);
}

.cards:nth-child(3n) {
    margin-right: 0;
}

.cards img {
    float: left;
    height: 100%;
    margin-right: 16px;
}

.cards h3 {
    margin-top: 13px;
    font-size: 17px;
}

.cards *:not(img){
    height: calc(calc(100% - 10px) / 3);
}

.cards > p:not(.email){
    font-weight: 600;
    letter-spacing: 1px;
}

.cards > p {
    font-size: 15px;
}

.email {
    font-family: 'ABeeZee', sans-serif;
    color: #5cc2eb;
    margin-top: -4px;
}
